<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Processos CRC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="card">
        <h1>Bem-vindo ao Controle de Processos<br>CPCR</h1>
        <p>Este é o sistema interno da Novacap para gerenciamento de processos.</p>
        <a href="{{ url_for('login') }}">
            <button class="btn-primary">Acessar Sistema</button>
        </a>
    </div>
</body>
</html>
